{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giggle Productions</title>
</head>
<body>
    <h1>Giggle Productions Landing Page</h1>
    <div>
        <div>
            <div>
                <h3>Sign Up for Giggle Productions Newsletter</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        {{form.as_p}}
                        <span>
                            <button type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>